
# Ignore all data files
/data/
/database/


*.txt
*.csv
*.tsv
*.pkl
*.npz
*.gz
*.torch

*.log
*.sh
*.yaml
*.rmd

nohup.out


io.py
scratch.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
/build

